<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>
        hr{
            border: none;
            height: 10px;
            background-color:black;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>

        window.onload = function(){
            for (const elementsByClassNameElement of document.getElementsByClassName("submit")) {
                elementsByClassNameElement.onclick = function(){
                    return false;
                }
            }
        }

    </script>
</head>
<body>
<h1>填入画廊地址</h1>
<form id="getMenuForm">
    <!--    <input type="textarea" name = "menuCode" style="width: 300px;height: 100px"/>-->
    <textarea id="menuCodes" rows="6" cols="30"></textarea></br>
    <input class="submit" type="submit" id="submitMenuCode" value="提交下载">
</form>
</body>


<script>
    function getMenuForm() {
        return $("form#getMenuForm > textarea[id='menuCodes']:first")[0].value;
    }
    $(".submit").click(function () {
        let url = null;
        console.log(this.id);
        if (this.id === 'submitMenuCode') {
            url = getMenuForm();
        }
        const data = new URLSearchParams();
        data.append('url', url);
        data.append('isDownload', true);
        fetch('/download', {
            method: 'POST',
            body: data,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // 如果服务器返回 JSON 数据
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    })
</script>
</html>