<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>下载列表</title>
    <link rel="stylesheet" type="text/css" href="css/common/css.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="pt-3 px-4">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="text-nowrap">标题</th>
                        <th class="text-nowrap">收藏数</th>
                        <th>简介</th>
                        <th>标签</th>
                        <th>分类</th>
                        <th>下载进度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bika : ${list}">
                        <td th:text="${bika.getTitle()}"></td>
                        <td th:text="${bika.getLikesCount()}"></td>
                        <td th:text="${bika.getDescription()}"></td>
                        <td th:text="${bika.getTags()}"></td>
                        <td th:text="${bika.getCategories()}"></td>
                        <td>
                            <div class="votebox" style="margin:120px auto 0 auto">
                                <dl class="barbox">
                                    <dd class="barline">
                                        <div w="90" style="width:0px;" class="charts"></div>
                                    </dd>
                                </dl>
                            </div>
                        </td>
                        <!--                        <td th:text="${bika.getLocalPath()}"></td>-->
                        <td class="">
                            <!--                            <button class="btn btn-sm btn-primary" id="read" th:attr="path=${bika.getLocalPath()}" th:href="@{/chapter/}">阅读</button>-->
                            <div class="form-inline">
                                <a th:text="${bika.getLocalPath() == null}?'下载':'阅读'" class="text-nowrap btn btn-sm btn-primary" id="read" th:href="${bika.getLocalPath()!=null}? @{/comic/} + ${bika.id}:@{/download/} + ${bika.id}">阅读</a>
                                <!--                                <a class="text-nowrap btn btn-sm btn-primary" id="read" th:href="@{/comic/} + ${bika.id}">删除</a>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
<script language="javascript">
    function animate(){
        $(".charts").each(function(i,item){
            var a=parseInt($(item).attr("w"));
            $(item).animate({
                width: a+"%"
            },1000);
        });
    }
    animate();
</script>
</html>